@charset "utf-8";
html,body,#container{
	height: 100%;

}

body #container{
	height: auto;
	min-height: 100%;
}

#content{
	padding-bottom: 5em;	

}

body{
	background:#E4DBBF;			/*Yellowish background*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Palatino,Georgia,Times;
	color: #383127;
}

.small{
	font-size: x-small;
}

div.logo{
	display:block;
	/*margin-top: 60px;*/
	margin-bottom: 50px;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
}

#footer{
	clear:both;
	position:relative;
	z-index:10
	height:5em;
	margin-top: -3em;

}