html,body{
	height: 100%;

}

body{
	background:#E4DBBF;			/*Yellowish background*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Palatino,Georgia,Times;
	color: #383127;
}