@charset "utf-8";

html,body{
	height: 100%;

}

/*body #container{
	height: auto;
	min-height: 100%;
}*/

#content{
	padding-bottom: 5em;	

}
body{
	background:#E4DBBF;			/*Yellowish background*/
   	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: Palatino,Georgia,Times;
    color: #383127;
}
